{% extends "base.html" %}

{% block content %}
<div class="card">
  <div class="card-header">
    <h2 class="card-title">Журнал</h2>
  </div>
  <div class="card-body">
    <ul class="list-group">
      {% for subject in subjects %}
      <li class="list-group-item">
        <a href="{% url 'subject' subject=subject %}" class="text-decoration-none">{{ subject }}</a>
      </li>
      {% empty %}
      <li class="list-group-item">Нет доступных предметов</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
